/Literatur/Barton_E-Business mit Cloud Computing.pdf
/Literatur/Baun_Cloud Computing.pdf
/Literatur/Foth_exzellente Geschäftsprozesse mit SAP.pdf
/Literatur/Frick_Grundkurs SAP ERP.pdf
/Literatur/Funk_Geschäftsprozessintegration mit SAP.pdf
/Literatur/Gubbels_SAP ERP.pdf
/Literatur/Hentschel Cloud Computing gestern heute morgen.pdf
/Literatur/Klees_Cloud Bedeutung SAP.pdf
/Literatur/Knoll Plattformen.pdf
/Literatur/Kranawetter_Identität in der Cloud und on premise.pdf
/Literatur/Münzl_Cloud Computing Herausforderung.pdf
/Literatur/Preuss_SAP HANA.pdf
/Literatur/Reinheimer_Industrie 4.0.pdf
/Literatur/Repschläger Cloud Computing Definitionen.pdf
/Literatur/Tsai Data provenance.pdf
/Literatur/Zimmer_Prozessintegration mit SAP NetWeaver.pdf
